/** Header **/
#header {
    background-color: #000000
}

#header-bottom-left {
    display: none !important
}

#header-img.default-header {
    display: none
}

#header-img {
    display: none
}

.res-tabmenu-button.res-toggle-filterline-visibility {
    display: none !important
}

.tabmenu a {
    color: #000000 !important
}

#chat,
#chat + .separator {
    display: none !important
}

.hover.pagename.redditname a {
    display: none !important;
    color: #99ffeb
}

#srList {
    background-color: #000000 !important;
    color: #333333
}

#srList {
    color: #99ebff !important
}

#sr-header-area {
    background-color: #000000 !important
}

#srDropdown a {
    color: #99ffeb !important
}

a.pref-lang.choice {
    color: #369 !important
}

ul.flat-list.hover {
    background-color: #EFF7FF !important
}

a.choice {
    color: #000000 !important
}

.pagename.selected {
    display: none !important
}

#RESShortcutsEditContainer {
    background-color: #000000 !important
}

/*============================================================================================*/

/** Sidebar **/

.side {
    margin-top: 20px !important
}
.trending-subreddits {
    display: none!important
}

.infobar.profilebetabar {
    display: none!important
}

.goldvertisement {
    display: none!important
}

.sidebox.create {
    display: none!important
}

.account-activity-box {
    display: none!important
}

.sidebox.submit.submit-link {
    display: none!important
}

.sidebox.submit.submit-text {
    display: none!important
}

.sidecontentbox {
    display: none!important
}

.side {
    background-color: #000000 !important
}

.linkinfo {
    background-color: #000000;
    border: #FFFFFF
}

.date {
    display: none !important
}

.score {
    display: none !important
}

.grippy {
    background-color: #000000 !important
}

#search {
    background-color: #000000 !important;
    border-color: #000000 !important
}

input[type=text] {
    background-color: #000000;
    color: #4ddbff !important
}

.toggle.res-sr-style-toggle {
    background-color: #000000 !important;
    display: inline !important
}

.toggle.flairtoggle {
    background-color: #000000 !important
}

.shortlink {
    background-color: #000000;
    color: #99ffeb
}

input#shortlink-text {
    border: #000000
}

.subbarlink {
    color: #99ffeb !important
}

.searchpane.raisedbox {
    background-color: #000000 !important;
    border-color: #000000 !important
}

.rounded.server-seconds {
    display: none !important
}

.initialized.listing-chooser {
    display: none !important
}

.giftgold > .access-required {
    display : none
}

.titlebox {
    color: #4ddbff;
}

.karma {
    color: #99ffeb;
}

/*============================================================================================*/

/** Body/Content **/
.rank {
    display: none!important
}

.title {
    font-family: consolas;
    font-weight: bold
}

.title a:link {
    color: #99ffeb
}

.title a:visited {
    color: #00997a !important
}

.title a:hover {
    color: #ffffff
}

.subreddit.hover.may-blank a:link {
    color: #ffffff !important
}

.content {
    margin-left: 170px !important;
    margin-right: 300px !important
}

.sitetable.nestedlisting {
    width: 70% !important;
    background-color: #000000
}

.md {
    color: #4ddbff;
    background-color: #000000 !important
}

.md p {
    color: #4ddbff;
}

.unvoted.midcol{
    display: none !important
}

.sitetable.linklisting {
    width: 70% !important
}

textarea {
    background-color: #000000;
    color: #4ddbff
}

.res-commentBoxes .commentarea .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #000000 !important;
    border: 1px solid #4ddbff !important
}

body {
    background-color: #000000 !important;
    color: #1a1a1a !important
}

.tagline a {
    color: #99ffeb !important
}

.linklisting .link {
    border: 1px solid #4ddbff !important;
    padding: 10px !important
}

.res-commentBoxes .commentarea .comment {
    border: 1px solid #4ddbff !important
}

.thumbnail.invisible-when-pinned.self.may-blank.loggedin {
    display: inline !important
}

.reddit-infobar.md-container-small.with-icon.archived-infobar {
    background-color: #000000 !important;
    width: 515px !important;
}

/*============================================================================================*/
.hover {
    color: #99ffeb !important
}

h1 {
    color: #99ffeb;
    background-color: #000000 !important
}

pre {
    background-color: #000000 !important
}

ul {
    background-color: #000000 !important
}
